/* You can add global styles to this file, and also import other style files */
:root {
  --main-bg-color: #161616;
  --secondary-bg-color: #363636;
  --text-color: #ffffff;
  --shadows: 0px 0px 4px #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 49;
}
h3 {
  font-size: 25;
}
@font-face {
  font-family: lato;
  src: "./assets/fonts/lato/Lato-Regular.woff";
}
@font-face {
  font-family: manrope;
  src: "./assets/fonts/manrope/regular.woff";
}
@font-face {
  font-family: raleway;
  src: "./assets/fonts/raleway/Raleway-Regular.ttf";
}
.icon-create {
  src: "./assets/icons/add-icon.svg";
}
.icon-delete {
  src: "./assets/icons/delete-icon.svg";
}
.icon-details {
  src: "./assets/icons/detail-icon.svg";
}
.icon-update {
  src: "./assets/icons/update-icon.svg";
}
.icon-go-back {
  src: "./assets/icons/goBack.svg";
}
